@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  color-scheme: dark;
}

body {
  font-family: 'Inter', sans-serif;
}